
.navBars {
    position: relative;
    padding: 10px;

    span {
       background-color: #747479;
        width: 27px;
        height: 2px;
        display: block;
        transition: 0.5s;

        &:nth-child(2) {
            margin: 5px 0px;
        }

    }

}

.navBars.change {

    span {
        background-color:#3577F0 ;

        &:nth-child(2) {
            opacity: 0;

        }

        &:nth-child(1) {
            transform: rotate(45deg);
            transition: 0.5s;
            position: absolute;
            margin-top: 12px;

        }

        &:nth-child(3) {
            transform: rotate(-45deg);
            transition: 0.5s;
            margin-bottom: 14px;
        }

    }


}


.header {
    // z-index: 999;
    // position: sticky;
    // top: 30px;
    // position: absolute;
    


    .container {


        .navbar {
            padding: 0 45px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: white;



            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            .nav-menu {
                ul {

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 40px;

                    li {
                        a {
                            color: black;
                            font-weight: 400;
                        }
                    }
                }

            }

            .nav-stic {
                display: flex;
                align-items: center;
                justify-content: space-between;

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                    li {
                        a {
                            color: #747479;
                            font-size: 18px;
                            font-weight: 100;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 600px) {


    .header {
        

        .container {

            .navbar {
                padding: 0; 

                .nav-menu {
                    display: block;
                    position: absolute;
                    top: 80px;
                    height: calc(100vh - 84px);
                    width: 100%;
                    padding: 0 18px;
                    left: -100%;
                    transition: 0.5s;
                    z-index: 9999;
                    background-color: white;

                    ul {
                        display: block;

                        li {
                            &:nth-child(n+2) {
                                margin-top: 30px;
                            }

                        }
                    }
                }

                .length {
                    left: 0%;
                }
            }




        }
    }

}


@media screen and (min-width: 600px) and(max-width:992px) {


    
    .header { 

        .container {

            .navbar {

                .nav-menu {
                    display: block;
                    position: absolute;
                    top: 80px;
                    height: calc(100vh - 84px);
                    width: 100%;
                    padding: 0 18px;
                    left: -100%;
                    transition: 0.5s;
                    z-index: 9999;
                    background-color: white;

                    ul {
                        display: block;

                        li {
                            &:nth-child(n+2) {
                                margin-top: 30px;
                            }

                        }
                    }
                }

                .length {
                    left: 0%;
                }
            }




        }
    }

}

@media screen and (min-width: 992px) {

    .header{
        .container{
            .navbar{
                .navBars{
                    display: none;
                }
            }
        }
    }

}

@media screen and (min-width: 1200px) {}