.navBars {
  position: relative;
  padding: 10px;
}
.navBars span {
  background-color: #747479;
  width: 27px;
  height: 2px;
  display: block;
  transition: 0.5s;
}
.navBars span:nth-child(2) {
  margin: 5px 0px;
}

.navBars.change span {
  background-color: #3577F0;
}
.navBars.change span:nth-child(2) {
  opacity: 0;
}
.navBars.change span:nth-child(1) {
  transform: rotate(45deg);
  transition: 0.5s;
  position: absolute;
  margin-top: 12px;
}
.navBars.change span:nth-child(3) {
  transform: rotate(-45deg);
  transition: 0.5s;
  margin-bottom: 14px;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}
.header .container .navbar {
  padding: 0 45px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header .container .navbar .nav-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.header .container .navbar .nav-menu ul li a {
  position: relative;
  color: black;
  font-weight: 400;
}
.header .container .navbar .nav-menu ul li a:after {
  content: "";
  position: absolute;
  background-color: #3577F0;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.header .container .navbar .nav-menu ul li a:hover::after {
  width: 100%;
}
.header .container .navbar .nav-menu ul li a:hover {
  font-weight: 500;
}
.header .container .navbar .nav-stic {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .navbar .nav-stic ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header .container .navbar .nav-stic ul li a {
  color: #747479;
  font-size: 18px;
  font-weight: 100;
  position: relative;
  z-index: 0;
}
.header .container .navbar .nav-stic ul li a i {
  color: #747479;
}
.header .container .navbar .nav-stic ul li a i:hover {
  color: white;
}
.header .container .navbar .nav-stic ul li a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background-color: rgb(255, 73, 124);
  transition: 0.3s;
  border-radius: 50%;
  z-index: -3;
}
.header .container .navbar .nav-stic ul li a:hover::after {
  height: 35px;
  width: 35px;
}
.header .container .navbar .nav-stic ul li a:hover {
  color: white;
}

@media screen and (max-width: 600px) {
  .header .container .navbar {
    padding: 0;
  }
  .header .container .navbar .nav-menu {
    display: block;
    position: absolute;
    top: 80px;
    height: calc(100vh - 84px);
    width: 100%;
    padding: 0 18px;
    left: -100%;
    transition: 0.5s;
    z-index: 9999;
    background-color: white;
  }
  .header .container .navbar .nav-menu ul {
    padding-top: 10px;
    display: block;
  }
  .header .container .navbar .nav-menu ul li:nth-child(n+2) {
    margin-top: 30px;
  }
  .header .container .navbar .length {
    left: 0%;
  }
  .header .container .navbar .nav-stic ul {
    gap: 17px;
  }
  .header .container .navbar .nav-stic ul li a {
    font-size: 16px;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .header .container .navbar .nav-menu {
    display: block;
    position: absolute;
    top: 80px;
    height: calc(100vh - 84px);
    width: 100%;
    padding: 0 18px;
    left: -100%;
    transition: 0.5s;
    z-index: 9999;
    background-color: white;
  }
  .header .container .navbar .nav-menu ul {
    display: block;
  }
  .header .container .navbar .nav-menu ul li:nth-child(n+2) {
    margin-top: 30px;
  }
  .header .container .navbar .length {
    left: 0%;
  }
}
@media screen and (min-width: 992px) {
  .header .container .navbar .navBars {
    display: none;
  }
}/*# sourceMappingURL=header.css.map */