.top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    line-height: 50px;
    background-color: #3577F0;
    padding: 0 20px;
    z-index: 9999;
    border-radius: 5px;
    z-index: 3;
}

    i {
        color: white;
    }